.input-switch {
  display: inline-block;
  position: relative;
  width: 51px;
  height: 30px
}
.input-switch input[type="range"] {
  -webkit-appearance: none;
  display: block;
  vertical-align: middle;
  position: relative;
  width: 72px;
  height: 100%;
  margin: 0;
  background: none;
  border: none;
  box-shadow: none;
  pointer-events: none;
}
.input-switch input[type="range"].checked {
  left: -21px;
}
.input-switch input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 30px;
  background: none;
  border: none;
  box-shadow: none;
}
.input-switch input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  display: block;
  width: 51px;
  height: 30px;
  border-radius: 30px;
  border: none;
  background: none;
  box-shadow:
    inset 0px 0px 0px 2px hsl(110, 0%, 88%),
    inset 0px 0px 0px 0px hsl(110, 0%, 88%);
  transition: all .33s ease;
  pointer-events: all;
}
.input-switch input[type="range"]:active::-webkit-slider-thumb {
  box-shadow:
    inset 0px 0px 0px 17px hsl(110, 0%, 88%),
    inset 36px 0px 0px 17px hsl(110, 0%, 88%);
}
.input-switch input[type="range"].checked::-webkit-slider-thumb {
  box-shadow:
    inset 0px 0px 0px 17px hsl(110, 52%, 60%),
    inset 36px 0px 0px 0px hsl(110, 52%, 60%);
}
/* Needed to fake the thumb with an inert span because the thumb can't be transitioned with css */
.input-switch .thumb {
  position: absolute;
  top: 2px;
  left: 2px;
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 26px;
  background: white;
  box-shadow:
    0px 1px 11px 0px rgba(0,0,0,0.05),
    7px 3px 6px 0px rgba(0,0,0,0.03),
    -7px 4px 6px 0px rgba(0,0,0,0.03),
    0px 3px 1px 0px rgba(0,0,0,0.16),
    0px 0px 0px 1px rgba(0,0,0,0.06);
  transition-property: width, left;
  transition-duration: .33s, .33s;
  transition-timing-function: ease, ease;
  transition-delay: 0, 0;
  pointer-events: none;
}
.input-switch :focus + .thumb {
}
.input-switch :active + .thumb {
  width: 35px;
}
/* Using absolute positioning because transforms didn't work as well. Using .checked class instead of attribute selector because attribute selector by 1 or 0 didn't work at all. */
.input-switch .checked + .thumb {
  left: 23px;
}
.input-switch .checked:active + .thumb {
  left: 14px;
}
