/* the important bits first */

/*TODO: make a fake switch that has animation for changing value from 0 to 1*/
.switch {
  display: inline-block;
}
.real-switch {
  -webkit-appearance: none;
  display: block;
  vertical-align: middle;
  position: relative;
  width: 51px;
  width: 72px;
  height: 30px;
  /*margin: 0 0 -30px 0;*/
  background: none;
  pointer-events: none;
}
.real-switch.checked {
  left: -21px;
}
.fake-switch {
  display: block;
  position: relative;
  vertical-align: middle;
  width: 51px;
  height: 30px;
  border-radius: 31px;
  pointer-events: none;
}

/* Background */
.real-switch::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 30px;
  border-radius: 30px;
  box-shadow: inset 0px 0px 0px 1px #999;
}
.fake-switch .track {
  display: block;
  height: 30px;
  border-radius: 30px;
  box-shadow:
    inset 0px 0px 0px 2px black,
    inset 0px 0px 0px 0px black;
  opacity: .22;
  transition: all .33s ease;
/*  transition: all .28s cubic-bezier(0.15, 0.46, 0.37, 1);*/
}
.real-switch:active + .fake-switch .track {
  box-shadow:
    inset 0px 0px 0px 17px black,
    inset 36px 0px 0px 17px black;
}
.real-switch.checked + .fake-switch .track,
.real-switch.checked:active + .fake-switch .track {
  box-shadow:
    inset 0px 0px 0px 17px hsl(110, 52%, 60%),
    inset 36px 0px 0px 0px hsl(110, 52%, 60%);
  /*transition: all .28s cubic-bezier(0.15, 0.46, 0.37, 1);*/
}
.real-switch.checked + .fake-switch .track {
  opacity: 1;
}


/* Thumb */
.real-switch::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 30px;
  width: 51px;
  height: 30px;
  border-radius: 30px;
  box-shadow: inset 0px 0px 0px 1px #666;
  pointer-events: all;
}
.real-switch + .fake-switch .thumb {
  -webkit-appearance: none;
  position: absolute;
  top: 2px;
  left: 2px;
  /*-webkit-transform: translateX(1px);*/
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 26px;
  background: white;
  box-shadow:
    0px 1px 11px 0px rgba(0,0,0,0.05),
    7px 3px 6px 0px rgba(0,0,0,0.03),
    -7px 4px 6px 0px rgba(0,0,0,0.03),
    0px 3px 1px 0px rgba(0,0,0,0.16),
    0px 0px 0px 1px rgba(0,0,0,0.06);
  transition-property: width, left;
  transition-duration: .33s, .33s;
  transition-timing-function: ease, ease;
  transition-delay: 0, 0;
  pointer-events: all;
}
.real-switch:focus + .fake-switch .thumb {
}
.real-switch:active + .fake-switch .thumb {
  width: 35px;
}
.real-switch.checked + .fake-switch .thumb {
  left: 23px;
  /*-webkit-transform: translateX(22px);*/
}
.real-switch.checked:active + .fake-switch .thumb {
  left: 14px;
  /*-webkit-transform: translateX(15px);*/
}



